<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>LWContentType</key>
        <string>LWContentTypeFrame</string>
        <key>LWTapeLengthAuto</key>
        <true/>
        <key>LWLayoutDirection</key>
        <string>LWLayoutDirectionHorizontal</string>
        <key>LWLengthMM</key>
        <integer>150</integer>
        <key>LWFrameSizeMode</key>
        <string>LWFrameSizeModePercent</string>
        <key>LWFrames</key>
        <array>
            <!-- QR Code -->
            <dict>
                <key>LWContentType</key>
                <string>LWContentTypeQRCode</string>
                <key>LWContentWidth</key>
                <integer>20</integer>
                <key>LWContentHeight</key>
                <integer>20</integer>
                <key>LWContentID</key>
                <string>QR-1</string>
                <key>LWQRCorrectQualityType</key>
                <string>LWQRCorrectQualityTypeLow</string>
                <key>LWFrameSizeMode</key>
                <string>LWFrameSizeModeAuto</string>

            </dict>

            <!-- Text strings -->
            <dict>
                <key>LWContentType</key>
                <string>LWContentTypeFrame</string>
                <key>LWContentWidth</key>
                <integer>30</integer>
                <key>LWContentHeight</key>
                <integer>30</integer>
                <key>LWLayoutDirection</key>
                <string>LWLayoutDirectionVertical</string>
                <key>LWFrames</key>
                <array>
                    <dict>
                        <key>LWContentType</key>
                        <string>LWContentTypeString</string>
                        <key>LWContentID</key>
                        <string>ST-1</string>
                        <key>LWContentWidth</key>
                        <integer>100</integer>
                        <key>LWContentHeight</key>
                        <integer>16</integer>
                        <key>LWFontSize</key>
                        <string>LWFontSizeMedium</string>
                        <key>LWTextAlignment</key>
                        <string>LWTextAlignmentLeft</string>
                        <key>LWFrameSizeMode</key>
                        <string>LWFrameSizeModeAuto</string>
                    </dict>
                    <dict>
                        <key>LWContentType</key>
                        <string>LWContentTypeString</string>
                        <key>LWContentID</key>
                        <string>ST-2</string>
                        <key>LWContentWidth</key>
                        <integer>100</integer>
                        <key>LWContentHeight</key>
                        <integer>16</integer>
                        <key>LWFontSize</key>
                        <string>LWFontSizeMedium</string>
                        <key>LWTextAlignment</key>
                        <string>LWTextAlignmentLeft</string>
                        <key>LWFrameSizeMode</key>
                        <string>LWFrameSizeModeAuto</string>
                    </dict>
                    <dict>
                        <key>LWContentType</key>
                        <string>LWContentTypeString</string>
                        <key>LWContentID</key>
                        <string>ST-3</string>
                        <key>LWContentWidth</key>
                        <integer>100</integer>
                        <key>LWContentHeight</key>
                        <integer>16</integer>
                        <key>LWFontSize</key>
                        <string>LWFontSizeMedium</string>
                        <key>LWTextAlignment</key>
                        <string>LWTextAlignmentLeft</string>
                        <key>LWFrameSizeMode</key>
                        <string>LWFrameSizeModeAuto</string>
                    </dict>
                    <dict>
                        <key>LWContentType</key>
                        <string>LWContentTypeString</string>
                        <key>LWContentID</key>
                        <string>ST-4</string>
                        <key>LWContentWidth</key>
                        <integer>100</integer>
                        <key>LWContentHeight</key>
                        <integer>16</integer>
                        <key>LWFontSize</key>
                        <string>LWFontSizeMedium</string>
                        <key>LWTextAlignment</key>
                        <string>LWTextAlignmentLeft</string>
                        <key>LWFrameSizeMode</key>
                        <string>LWFrameSizeModeAuto</string>
                    </dict>
                    <dict>
                        <key>LWContentType</key>
                        <string>LWContentTypeString</string>
                        <key>LWContentID</key>
                        <string>ST-5</string>
                        <key>LWContentWidth</key>
                        <integer>100</integer>
                        <key>LWContentHeight</key>
                        <integer>16</integer>
                        <key>LWFontSize</key>
                        <string>LWFontSizeMedium</string>
                        <key>LWTextAlignment</key>
                        <string>LWTextAlignmentLeft</string>
                        <key>LWFrameSizeMode</key>
                        <string>LWFrameSizeModeAuto</string>
                    </dict>
                    <dict>
                        <key>LWContentType</key>
                        <string>LWContentTypeString</string>
                        <key>LWContentID</key>
                        <string>ST-6</string>
                        <key>LWContentWidth</key>
                        <integer>100</integer>
                        <key>LWContentHeight</key>
                        <integer>16</integer>
                        <key>LWFontSize</key>
                        <string>LWFontSizeMedium</string>
                        <key>LWTextAlignment</key>
                        <string>LWTextAlignmentLeft</string>
                        <key>LWFrameSizeMode</key>
                        <string>LWFrameSizeModeAuto</string>
                    </dict>
                </array>
            </dict>
        </array>
    </dict>
</plist>
