<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BR-1</key>
		<string>123456789012</string>
		<key>ST-1</key>
		<string>wahyu</string>
		<key>ST-2</key>
		<string>testing</string>
		<key>ST-3</key>
		<string>Partherno</string>
		<key>QR-1</key>
		<string>COba saja di scan bro</string>
	</dict>
</array>
</plist>
