<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BR-1</key>
		<string>123456789012</string>
		<key>ST-1</key>
		<string>gkfdhgdjgdj121</string>
		<key>ST-2</key>
		<string>testing</string>
		<key>ST-3</key>
		<string>Testing</string>
		<key>ST-4</key>
        <string>1290</string>
        <key>ST-5</key>
        <string>Trial 1</string>
        <key>ST-6</key>
        <string>Partherno</string>
		<key>QR-1</key>
		<string>COba saja di scan bro</string>
	</dict>
</array>
</plist>
